<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shop.dao.ShopCatalogMapper" >
  <resultMap id="BaseResultMap" type="com.shop.model.ShopCatalog" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="catalog_id" property="catalogId" jdbcType="BIGINT" />
    <result column="parent_catalogId" property="parentCatalogid" jdbcType="BIGINT" />
    <result column="catalog_level" property="catalogLevel" jdbcType="BIGINT" />
    <result column="catalog_name" property="catalogName" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="delete_flag" property="deleteFlag" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, catalog_id, parent_catalogId, catalog_level, catalog_name, create_time, update_time, 
    delete_flag
  </sql>
  <select id="selectByCatalogId" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from shop_catalog
    where catalog_id = #{catalogId,jdbcType=BIGINT}
  </select>
  <insert id="insert" parameterType="com.shop.model.ShopCatalog" >
    insert into shop_catalog (id, catalog_id, parent_catalogId, 
      catalog_level, catalog_name, create_time, 
      update_time, delete_flag)
    values (#{id,jdbcType=BIGINT}, #{catalogId,jdbcType=BIGINT}, #{parentCatalogid,jdbcType=BIGINT}, 
      #{catalogLevel,jdbcType=BIGINT}, #{catalogName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{deleteFlag,jdbcType=INTEGER})
  </insert>
  <update id="updateByCatalogIdSelective" parameterType="com.shop.model.ShopCatalog" >
    update shop_catalog
    <set >
      <if test="parentCatalogid != null" >
        parent_catalogId = #{parentCatalogid,jdbcType=BIGINT},
      </if>
      <if test="catalogLevel != null" >
        catalog_level = #{catalogLevel,jdbcType=BIGINT},
      </if>
      <if test="catalogName != null" >
        catalog_name = #{catalogName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteFlag != null" >
        delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
    </set>
    where  catalog_id = #{catalogId,jdbcType=BIGINT}
  </update>

  
  <select id="getByParentId" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	select 
    <include refid="Base_Column_List" />
    from shop_catalog
    where parent_catalogId = #{parentCatalogid,jdbcType=BIGINT}
    AND delete_flag =0
  </select>
  <select id="selectBylevel" resultMap="BaseResultMap" parameterType="java.lang.Long">
  	SELECT
  	<include refid="Base_Column_List"/>
  	FROM shop_catalog
  	WHERE catalog_level = #{catalogLevel,jdbcType=BIGINT}
  </select>
</mapper>